/* CSS Document */
/* Slash-Star begins a comment, and then Star-Slash ends a comment */

/* 
Body is a called a selector - these declarations will be applied to everything in this selector.

The color can be specified by: Color name, RGB value, Hex value.

The font family of a text is set with the font-family property (should hold several font names as a "fallback" system). 
If the browser does not support the first font, it tries the next font. 

Font size can be absolute or relative.
To allow users to resize the text (in the browser menu), many developers use em instead of pixels.
The em size unit is recommended by the W3C.
1em is equal to the current font size. The default text size in browsers is 16px. So, the default size of 1em is 16px.
The size can be calculated from pixels to em using this formula: pixels/16=em.
http://www.w3schools.com/css/css_font.asp
*/

body {
	background-color: #FFC0CB;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif, Brush Script MT; 
	/* Set all font in the page to Helvetica with font formatting */
	font-size: 100%; /* Generally set the font-size to 100% in the body 
	                    - you can then change with em in the other areas */
	line-height: 2.7em; /* The line-height property in CSS controls the space 
	                       between lines of text. */
	color: #000000; /* Hex Color Black */
}

a {	
	color: #351c75;
	text-decoration: none;
}

a:hover {	
	color: #0F4970;
	text-decoration: underline;
}

#header #header1 h1{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -80px;
	margin-bottom: 50px;
	text-align: center;
	color: #351c75; /* Good contrast color for heading */
	font-size: 3.5em; /* http://pxtoem.com/ */
	letter-spacing: -2px; /* The letter-spacing property increases or decreases 
	                        the space between characters in a text. */
}

#header #header1 nav{
	font-size: 2em;
	font-family: Brush Script MT;
	font-weight: 200;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 20px;
	text-align: center;
}


#pic {
	height:500px;
	padding-top: 10px;
	padding-bottom: 200px;
	text-align: center;
	margin-right: auto; 
}

#sub_title{
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	font-family: Arial;
	color: #351c75;
}

#content-gallery{
	text-align: center;
}

#about {
	font-family: Georgia, serif;
	font-size: 1.5em;
	margin: 30px 0 20px 0;
	font-weight: normal;
	padding-top: 2px;
	width: 40%;
	text-align: center;
	margin-left: 30%;
	color: #351c75;
}
#gallery{
	max-width: 550px;
	height: 550px;
	object-fit: cover;
	padding-top: 20px;
	padding-bottom: 50%;
	margin-left: 33%;
}

#index2{
	text-align: center;
	margin-top:30%;
	color: #351c75;
}



#accordion{
	clear:both;
}

#foodpics{
	clear:both;
}

iframe{
	float:left;
	margin-right: 15px;
}




#bio a:hover {	
	color: #0F4970;
}
/* Table Styling */
table {
	width: 75%;
	border-style: solid;
	border-width: 3px;
	border-color: #075F8A;
	border-spacing: 3px;
	margin: auto;
	table-layout: auto;
	border-collapse: collapse;
}
th {
	height: 40px;
	font-weight: bold;
}
th, td {
	padding: 2px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	color: #333333;
}

#container {
    width:90%;
    margin: 10px auto;
  /*  border: 1px solid gray; /* Remove after checking */
}

/* The top row - spans all columns for header and nav */
#top_row {
	border-bottom: 1px dotted #ccc;
	padding: .5em .5em 3em .5em; 
	
	/* http://www.digizol.com/2006/12/margin-vs-padding-css-properties.html */ 
	/* top, right, bottom, left */
}
#top_row header {
	margin-bottom: -2.5em;
}
 

#top_row nav {
	float: right; /* http://www.w3schools.com/css/css_float.asp */
}

#top_row nav a {
	text-decoration: none;
	font-size: 1.125em;
	font-weight: 400;
	padding: 5px;
	color: #000000;
}

#top_row nav a.selected {
	background: #f6f6f6;
	color: #bbbbbb;	
}
#top_row nav a.selected:hover {
	background: #f6f6f6;
	color: #bbbbbb;	
}

#top_row nav a:hover {	
	background: #f6f6f6;
	color: #0F4970;
}

#content {
	float: left;
	width: 65%;
	margin: 0;
	padding: 1em;
	border-right: 1px dotted #ccc;
}

#content h3 {
	font-family: Georgia, serif;
	font-size: 1.5em;
	margin: 30px 0 10px 0;
	font-weight: normal;
}
#content img {
	float:left;
	margin:1em;
}
#sidebar {
	float: left;
	padding: 1em;
	font-size: .875em;	
	/* border-left: 1px solid gray; */
}

#sidebar h3 {
	font-size: 1.125em;
	border-bottom: 1px dotted #ccc;
}

footer {
	clear: both; /* The clear property specifies which side(s) of an element other floating elements are not allowed. */
	margin: 0;
	padding: .5em;
	color: #333333;
	font-variant: small-caps; 
	font-size: .813em;
	text-align: center;
	border-top: 1px dotted #cccccc;
	
	/* background-color: #ddd; */
}

/* Form Styling */
form {
	width: 100%;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #075F8A;
	padding: 10px;
	display:block;
}

legend {
	font-weight: bold;
	text-align: center;
	color: #351c75;
	margin-bottom: 5px;
}

label {
	font-weight: bold;
	text-align: center;
}

html { overflow-y: scroll; }
/* Read more at http://www.w3schools.com/cssref/css3_pr_overflow-y.asp */

/* Keep the list of courses below the image */
#courselist {
clear:both;}